body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 100%;
    background-color: #000000;
}

/*title-----------------------------*/
.titlebox {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-bottom: 5%;
}

#title {
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}
/*----------------------------------*/

#kali {
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
}
